<phpunit xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='http://schema.phpunit.de/8.1/phpunit.xsd' cacheResult='false'>
    <testsuites>
        <testsuite name='Tests'>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>