<phpunit xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='../../../phpunit/phpunit/phpunit.xsd' cacheResult='false'>
    <testsuites>
        <testsuite name='Tests'>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="var/coverage/coverage-html" lowUpperBound="50" highLowerBound="75"/>
        <log type="coverage-xml" target="var/coverage/coverage-xml" lowUpperBound="50" highLowerBound="75"/>
        <log type="junit" target="var/coverage/junit.xml"/>
    </logging>
    <extensions>
        <extension class="Bruha\CodingStandard\CustomHooks\PhpUnitHook"/>
    </extensions>
</phpunit>
